# Regresion Logistica
+ Es una variante de la regresion lineal empleada para predecir variables categoricas
+ Ejemplo predecir si un cliente comprara o no un producto, segun su historial de compra, publicidad, genero, edad, etc.

| | Regresion Lineal | Regresion Logistica 
--- | :---: | :---:
Variables predictoras | Numericas Continuas o Categoricas | Numericas Continuas o Categoricas
Predicciones | Numericas Continuas | Categoricas
Relacion | Lineal | Lineal (con transformaciones)

In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv("../resources/python-ml-course/datasets/gender-purchase/Gender Purchase.csv")
df.head()

   Gender Purchase
0  Female      Yes
1  Female      Yes
2  Female       No
3    Male       No
4    Male      Yes

In [4]:
df.shape

(511, 2)

In [12]:
df.describe()

        Gender Purchase
count      511      511
unique       2        2
top     Female      Yes
freq       265      280

## Tablas de contingencias
Forma de visualizar con que frecuencia se da cierta combinacion de 2 o mas variables

In [11]:
contingency_table = pd.crosstab(df["Gender"],df["Purchase"])
contingency_table

Purchase   No  Yes
Gender
Female    106  159
Male      125  121

Podemos contar los elementos de forma horizontal o vertical

In [13]:
contingency_table.sum(axis=1)

Gender
Female    265
Male      246
dtype: int64

In [14]:
contingency_table.sum(axis=0)

Purchase
No     231
Yes    280
dtype: int64

Ademas podemos obtener los porcentajes en los que cada genero compro, operando el dataset

In [15]:
contingency_table.astype("float").div(contingency_table.sum(axis=1), axis=0)

Purchase       No      Yes
Gender
Female    0.40000  0.60000
Male      0.50813  0.49187

## Probabilidad condicional
Probabilidad de que un suceso sea verdad o no, conociendo restricciones del mismo. Para el ejemplo nos podemos preguntar:

+ Cual es la probabilidad de que un cliente compre un producto sabiendo que es hombre
+ Cual es la probabilidad que una compra sea realizada por una mujer

$$
P(Purchase|Male) = \frac{Numero~total~de~compras~hechas~por~hombres}{Numero~total~de~hombres} = \frac{Purchase \cap Male}{Male}
$$

In [16]:
121/246

0.491869918699187


$$
P(Female|Purchase) = \frac{Numero~total~de~compras~hechas~por~mujeres}{Numero~total~de~compras}
$$

In [18]:
159/280

0.5678571428571428